doctype html
html
  head
    title Lol
    link(rel="stylesheet" href='scripts/mocha/mocha.css')
    link(rel='stylesheet', href='css/styles.css')
    script(src='scripts/mocha/mocha.js')
    script(type='text/javascript').
      mocha.setup('bdd');
    script(src='scripts/baconsnake.js')
  body
    a(href='https://github.com/baconjs/bacon.js/#baconjs') Bacon.js docs
    .game
    #mocha
    script(type='text/javascript').
      mocha.run();
    p Protip: tests also run in your console with better error output