doctype html
html
  head
    title Baconsnake!
    link(rel="stylesheet" href='scripts/mocha/mocha.css')
    link(rel='stylesheet', href='css/styles.css')
    script(src='scripts/mocha/mocha.js')
    script(type='text/javascript').
      mocha.setup('bdd');
    script(src='scripts/baconsnake.js')
  body
    a(href='https://github.com/baconjs/bacon.js/#baconjs') Bacon.js docs
    .game
    p#goals Goals:
      ul
        li The snake will advance forward every ~250ms
        li Left/Right will turn the snake
        li Food will appear randomly on the screen and change position when eaten
        li The snake's tail will grow longer when it eats food
    #tests
      #mocha
      script(type='text/javascript').
        mocha.run();
      p Protip: tests also run in your console with better error output