doctype html
html
  head
    title Lol
    link(rel='stylesheet' href='css/test.css')
    script(src='scripts/baconjs-playground.js')
  body
    h1 Bacon.js Playground
    #editor-coffee
    #editor-html