#container
  position: relative
  padding-top: 100%

#container > *
  position: absolute
  padding-top: 50%
  padding-right: 50%

@mixin editor
  position: absolute

@mixin north
  top: 0
  bottom: 50%

@mixin south
  top: 50%
  bottom: 0

@mixin west
  left: 0
  right: 50%

@mixin east
  left: 50%
  right: 0

#editor-coffee
  +editor()
  +north()
  +west()
  background: green

#editor-html
  +editor()
  +south()
  +west()
  background: orangered